@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-add-outline:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-cheveron-down:before {
  content: "\e902";
}
.icon-cheveron-up:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-cog:before {
  content: "\e907";
}
.icon-trash-2:before {
  content: "\e908";
}