@import "_oa";

* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}

html {
  height: 100%;

  body {
    position: relative;

    display: inline-block;
    width: 100%;
    // min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    color: rgba(90, 90, 90, 1.00);
    text-align: center;
    font-size: 1rem;  /* 1*12px=12px */
    // font-size: medium;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif, "微軟正黑體", "Microsoft JhengHei";

    background: white;
    // background-image: $mainBackgroundImage;

    @include font-smoothing(antialiased);

    &.grayBG {
      background-color: rgba(243, 243, 243, .7);
    }
  }
}

$Dellblue: rgba(0, 81, 162, 1.00);
$gray: rgba(91, 91, 91, 1.00);
$blue:rgba(0, 150, 230, 1.00);
$Dellorange: rgba(232, 86, 3, 1.00);
$lightgray: rgba(184, 184, 184, 1.00);
$linecolor: rgba(191, 195, 201, .5);


// .nav_list {
//   display: inline-block;
//   // display: none;

//   &.nav_open {
//     display: inline-block;
//   }

//   @include transition(opacity .4s, left .3s);
//   width: 240px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 999999;

//   height: 100%;
//   background-color: white;

//   > div {
//     display: inline-block;
//     width: 100%;
//     border-bottom: 1px solid rgba(226, 226, 226, 1.00);
//     padding: 10px 20px;
//     @include clearfix();

//     .icon-close {
//       display: inline-block;
//       cursor: pointer;
//       width: 30px;
//       height: 30px;
//       float: right;
//       font-size: 1.3rem;
//       line-height: 30px;
//       text-decoration: none;
//       text-align: right;
//       color: $gray;
//     }

//     a {
//       display: inline-block;
//       width: calc(100% - 45px);
//       font-size: 1.2rem;
//       color: $gray;
//       text-decoration: none;
//       text-align: left;
//       cursor: pointer;
//       line-height: 30px;
//     }

//     b {
//       display: inline-block;
//       float: left;
//       width: 30px;
//       height: 30px;
//       // background-color: rgba(81, 193, 238, 1.00);
//       border: 1px solid rgba(81, 193, 238, 1.00);
//       @include border-radius(15px);
//       overflow: hidden;
      
//       .navicon {
//         display: inline-block;
//         width: 20px;
//         height: 20px;
//         background-color: white;
//         margin: 3px;

//         .img {
//           width: 100%;
//           max-width: 20px;
//         }
//       }
//     }
//   }
// }

// .nav_balck {
//   display: none;

//   &.b_open {
//     display: inline-block;
//   }

//   @include transition(opacity .4s, left .3s);
//   position: fixed;
//   top: 0;
//   left: 240px;
//   z-index: 888;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(39, 40, 34, .5);
// }


.main {
  display: inline-block;
  width: 100%;
  min-height: 100%;

  &.nav_hover {
    position: absolute;
    left: 200px;
    overflow: hidden;
  }

  &.centblue {
    background-color: rgba(194, 226, 255, 1.00);
  }

  &.centorange {
    background-color: rgba(255, 241, 232, 1.00);
  }

  &.centgray {
    background-color: rgba(244, 243, 244, 1.00);
  }

  &.centgray_l {
    background-color: rgba(243, 243, 243, 1.00);
  }

  // 上方header
  header {
    display: inline-block;
    width: 100%;
    height: 45px;
    text-align: left;
    padding: 8px 20px;
    position: fixed;
    top: 0;
    @include background-image(linear-gradient(left, rgba(0,55,144,1), rgba(0,150,229,1)));  
    @include clearfix();
    z-index: 99;
    
    .nav_boxs {
      display: inline-block;
      cursor: pointer;
      width: 30px;
      height: 30px;
      
      &.icon-menu {
        font-size: 1.3rem;
        color: white;
        line-height: 30px;
      }
    }

    .searchBoxs {
      display: inline-block;
      width: 30px;
      height: 30px;
      float: right;

      &.icon-search {
        font-size: 1.3rem;
        color: white;
        line-height: 30px;
        text-align: right;
      }
    }

    .icon_boxs {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: white;
      @include border-radius(15px);
      overflow: hidden;
      margin: 0 5px;

      &.iconBlue {
        background-color: rgba(65, 184, 238, 1.00);
      }

      &.iconOrange {
        background-color: rgba(255, 200, 132, 1.00);
      }

      .icon_box {
        display: inline-block;
        width: 30px;
        height: 30px;
        // background-color: white;
        // margin: 3px;

        .img {
          width: 100%;
          max-width: 20px;
        }
      }
    }
    

    .title_type {
      display: inline-block;
      color: white;
      font-size: 1.5rem;
      line-height: 30px;
    }
  }

  // 中間
  .cent_boxs {
    display: inline-block;
    width: 100%;
    margin-top: 45px;
    @include clearfix();

    .teachPic {
      display: inline-block;
      width: 100%;
      height: 200px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &.centwhite {
      background-color: white;
    }

    &.haveSpace {
      padding: 20px;
    }

    &.NoBottom {
      padding: 20px 20px 0 20px;
    }

    &.NoMarginTop {
      margin-top: 0;
      margin-bottom: 100px;
    }

    &.NoTopNoBottom {
      margin-top: 0;
      margin-bottom: 0;
    }

    .titlePic_boxs {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px; 

      .teamPic {
        display: inline-block;
        width: 100%;
        max-width: 80px;
        margin-top: 20px;
      }

      .blueBoxs {
        display: inline-block;
        width: 100%;
        background-color: $Dellblue;
        padding: 10px 0;
        @include clearfix();

        &.whiteBoxs {
          background-color: white;
          border-top: 1px solid rgba(222, 222, 222, 1.00);
        }
        
        > div {
          display: inline-block;
          width: calc(100% / 3);
          color: white;
          font-size: 1rem;
          float: left;

          &:first-child {
            text-align: left;
            padding-left: 20px;
          }

          &.backL {
            color: black;
            
            &:first-child {
              text-align: left;
              padding-left: 20px;
            }
          }

          a {
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.3rem;
            color: $Dellorange;
          }
        }
      }
    }

    .menuBtn_boxs {
      display: inline-block;
      width: 100%;
      @include border-radius(5px);
      overflow: hidden;

      > a, button {
        display: inline-block;
        font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif, "微軟正黑體", "Microsoft JhengHei";
        cursor: pointer;
        width: 100%;
        background-color: $blue;
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-bottom: 1px solid white !important;
        border: none;

        &:last-child {
          border-bottom: 0;
        }

        &.menuW {
          background-color: white;
          color: $gray;
        }
      }
    }

    .inputBoxs {
      display: inline-block;
      width: 100%;
      @include clearfix();

      .RuleBox {
        display: inline-block;
        width: 100%;
        height: 200px;
        overflow: scroll;
        @include border-radius(3px);
        padding: 10px;
        background-color: rgba(243, 243, 243, 1.00); 
        margin: 20px 0;
      }
    }

    .listItemBox {
      display: inline-block;
      width: 100%;
      height: 60px;
      border-top: 1px solid $linecolor;
      background-color: white;
      padding: 10px 20px;
      @include clearfix();

      &.listBlue {background-color: rgba(194, 226, 255, 1.00);}
      &.listOragne {background-color: rgba(255, 241, 232, 1.00);}

      &.height75 {
        height: 75px;
      }

      &:last-child {
        border-bottom: none;
      }

      &.listNoBord {
        border-top: 0;
        padding: 0 0 20px 0;
      }

      &.listwhite {
        border-bottom: 1px solid white;
      }

      .listItemLeft {
        display: inline-block;
        width: 60%;
        float: left;
        @include clearfix();

        &.listAll {
          width: 100%;
        }
      }

      .listItemRight {
        display: inline-block;
        width: 40%;
        float: right;
        @include clearfix();
        
        > div {
          display: inline-block;
          width: calc(100% / 3);
          float: left;
          cursor: pointer;

          &.icon-cog, &.icon-trash-2 {
            display: inline-block;
            font-size: 1.6rem;
            color: rgba(192, 192, 192, 1.00);
            line-height: 40px;
            // margin: 0 3px;

            &:hover, &:active, &.seok {
              color: $Dellorange;
            }
          }

          .switch {
            @include switch($Dellorange);
          }
        }

        .listArrow {
          float: right !important;
          line-height: 40px;
        }
      }

      .tableBox3 {
        display: inline-block;
        width: calc(100% / 3);
        float: left;
        height: 40px;
        line-height: 40px;

        &:first-child {
          text-align: left;
          p {
            display: -webkit-box;
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-align: left;
          }
        }  
      }

      .tableBox4 {
        display: inline-block;
        width: calc(100% / 4);
        float: left;
        height: 40px;
        // line-height: 40px; 

        &:first-child {
          text-align: left;
          p {
            display: -webkit-box;
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-align: left;
          }
        }  
      }

      .tableBox45 {
        display: inline-block;
        width: calc(100% / 4);
        float: left;
        height: 45px;
        line-height: 45px; 

        &:first-child {
          text-align: left;
        }  
      }
    }

    .listAllBrand {
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      @include clearfix();
      border-top: 1px solid rgba(226, 226, 226, 1.00);

      > a, button {
        display: inline-block;
        width: 50%;
        @include border-radius(3px);
        // background-color: rgba(243, 243, 243, 1.00);
        padding: 5px 0;
        color: $Dellblue;
        font-size: 1.2rem;
        text-decoration: none;
        cursor: pointer;
        float: left;
        margin-bottom: 5px;
        text-align: left;
        background-color: transparent !important;
        
        &:hover, &:active {
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
          background-color: transparent !important;
        }
      }
    }

    .lineboxs {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid rgba(219, 221, 224, 1.00);
      margin-bottom: 10px;
      @include clearfix();
      
      &.noborder {
        border-bottom: 0;
      }

      button {
        display: inline-block;
        padding: 5px 8px;
        @include border-radius(3px);
        border: 0;
        outline: 0;
        float: right;
        background-color: #0077cc;
        color: white;
        font-size: 1rem;
      }
      
      .addBtnBoxs {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: left;

        &.icon-add-outline {
          font-size: 1.6rem;
          color: black;
          line-height: 30px;
          text-align: left;
          margin-bottom: 10px;
        }
      }
    }

    .oneBoxs {
      display: inline-block;
      width: 100%;
      @include border-radius(5px);
      background-color: white;
      overflow: hidden;
      margin-top: calc(100% - 96px - 45px);

      .oneType {
        display: inline-block;
        width: 100%;
        padding: 20px;
      }

      .oneBtn {
        display: inline-block;
        width: 100%;
        @include clearfix();
        
        a, button {
          display: inline-block;
          width: 50%;
          padding: 10px;
          color: white;
          font-size: 1.2rem;
          text-decoration: none;
          float: left;
          cursor: pointer;
          @include border-radius(0);
          

          &:first-child {
            background-color: $Dellblue;
          }

          &:last-child {
            background-color: $Dellorange;
          }
        }
      }
    }

    .seIteamAll {
      display: inline-block;
      width: 100%;
      margin-top: 15px;
    }

    .smenu_boxs {
      display: none;
      width: 100%;
      height: 40px;
      margin-bottom: 40px;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: white;
      border-top: 1px solid rgba(184, 184, 184, .2);
      @include clearfix();

      &.smenu_open {
        display: inline-block;
      }
      
      > a, button {
        display: inline-block;
        float: left;
        cursor: pointer;
        width: 50%;
        color: $lightgray;
        font-size: 1rem;
        text-decoration: none;
        line-height: 40px;
        @include border-radius(0);
        @include transition(all .3s);
        text-align: center;

        &:hover, &:active {
          color: $Dellblue;
          border-top: 3px solid $Dellblue;
          line-height: 36px;
        }
      }
    }
  }

  // 6小格選單
  .DownMneu_boxs {
    display: inline-block;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid rgba(184, 184, 184, .2);

    > a, button, span.smenu {
      display: inline-block;
      cursor: pointer;
      width: calc(100% / 6);
      text-decoration: none;
      color: $lightgray;
      font-size: 1rem;
      // font-size: 1.3rem !important;
      text-align: center;
      float: left;
      background-color: white;
      line-height: 40px;
      @include border-radius(0);
      @include transition(all .3s);

      &:hover, &:active, &.raHover {
        color: $Dellblue;
        border-top: 3px solid $Dellblue;
        line-height: 36px;
      }
    }
  }
}



.cardBoxs {
  display: inline-block;
  width: 100%;
  background-color: white;
  @include border-radius(5px);
  border: 1px solid $linecolor;
  @include clearfix();
  overflow: hidden;
  margin-bottom: 20px;

  // @include box-shadow(inset 1px 1px 1px 1px rgba(223, 223, 223, 1));

  &.seBlue {background-color: rgba(194, 226, 255, 1.00);}
  &.seorange {background-color: rgba(255, 241, 232, 1.00);}

  &.sew01 {
    border: 1px solid white;
  }

  &.seg01 {
    border: 1px solid rgba(187, 186, 191, 1.00);
  }

  // &:last-child {
  //   margin-bottom: 100px;
  // }
}


.borderBoxs {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid white;
  @include clearfix();

  &.borderNoSpace {
    padding: 0 20px;
  }

  .borderB2, .borderB4 {
    display: inline-block;
    float: left;
  }

  .borderB2 {
    width: calc(100% / 2);
  }

  .borderB4 {
    width: calc(100% / 4);
  }
}



// 手機版，側邊menu
#r_menu_boxs {

  &.nav_open {
    display: inline-block;
  }

  display: none;
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999999;
  background-color: white;
  overflow: auto;
  @include transition(opacity .3s, left .3s);
  text-align: left;
  padding: 0; 
  border-right: 1px solid rgba(226, 226, 226, 1.00);

  &.s_menu {
    left: 0;  
  }

  > span, > a, > div > a, > div > div > a, > div > span {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    padding:10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .3s);
    border-bottom: 1px solid rgba(226, 226, 226, 1.00);

    &:hover, &:active {
      color: $Dellblue;
      border-left: 2px solid $Dellblue;
    }
  }

  > span, > a {
    font-size: 1.2rem;
    color: $gray;

     &.db {
      border-bottom: 1px solid rgba(226, 226, 226, 1.00);

      &:hover, &:active {
        color: $Dellblue;
        border-left: 2px solid $Dellblue;
      }
    }

    b {
      display: inline-block;
      float: left;
      width: 30px;
      height: 30px;
      // background-color: rgba(81, 193, 238, 1.00);
      border: 1px solid rgba(81, 193, 238, 1.00);
      @include border-radius(15px);
      overflow: hidden;
      margin-right: 5px;
      
      .navicon {
        display: inline-block;
        width: 28px;
        height: 28px;
        background-color: rgba(65, 184, 238, 1.00);
        // margin: 3px;

        .img {
          width: 100%;
          max-width: 25px;
        }
      }
    }
  }

  > div > a, > div > div > a, > div > span {
    font-size: 1rem;
    @include transition(all .3s);
    border-bottom: 1px solid rgba(226, 226, 226, 1.00);
    color: $gray;

    &:hover, &:active {
      color: $Dellblue;
      border-left: 2px solid $Dellblue;
    }
  }
  > span, > div > span {
    color: $gray;

    &:after {
      display: inline-block;
      content: '\e902';
      font-family: 'icomoon';
      font-size: 22px;
      float: right;
    }

    &:first-child {
      &:after {
        display: none;
      }
    }
  }
  > div, > div > div {
    display: none;
  }

  > span, > div > span {

    &.ncu {
      cursor: auto;
      border-bottom: 1px solid rgba(226, 226, 226, 1.00);
      padding: 10px 20px;
      @include clearfix();

      .icon-close {
        display: inline-block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        float: right;
        font-size: 1.3rem;
        line-height: 30px;
        text-decoration: none;
        text-align: right;
        color: $gray;
      }
    }
   
    &.s {
      &:after {
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
      }

      + div {
        display: block;
      }
    }
  }
}

#menu_back {

  display: none;

  &.b_open {
    display: inline-block;
  }

  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 40, 34, .5);
}






