@import "_oa";

$Dellblue: rgba(0, 81, 162, 1.00);
$gray: rgba(91, 91, 91, 1.00);
$blue:rgba(0, 150, 230, 1.00);
$Dellorange: rgba(232, 86, 3, 1.00);
$lightgray: rgba(184, 184, 184, 1.00);

p {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
}

span {
  display: inline-block;
  text-align: left;
}

i {
  display: inline-block;
  font-style: normal;
}

.pptype {
  display: inline-block;
  width: 100%;
  content: $gray;
  font-size: 1.2rem;

  &:before {
    display: inline-block;
    content: attr(title);
  }

  &:after {
    display: inline-block;
    content: '元';
  }
}


.greenTitle {
  float: left;
  font-size: 1.2rem;
  color: green;
  font-weight: 600;

  &.redTitle {
    color: red;
  }
}

.openClose {
  display: inline-block;
  cursor: pointer;
  float: right;
  background-color: white;
  @include border-radius(3px);
  color: $lightgray;
  font-size: 1rem;
  padding: 3px 5px;

  &:before {
    display: inline-block;
    content: '\e903';
    font-family: "icomoon";
    color: $lightgray;
    line-height: 25px;
    margin-right: 3px;
  }
}

.closeOpen {
  display: inline-block;
  cursor: pointer;
  float: right;
  background-color: white;
  @include border-radius(3px);
  color: $lightgray;
  font-size: 1rem;
  padding: 3px 5px;

  &:before {
    display: inline-block;
    content: '\e902';
    font-family: "icomoon";
    color: $lightgray;
    line-height: 25px;
    margin-right: 3px;
  }
}

.tableTextName {
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(191, 195, 201, 1.00);
}

.tableCent {
  width: 100%;
  position: relative;
  padding: 10px;
  color: black;
  font-size: 1rem;
  border-bottom: 1px solid rgba(191, 195, 201, 1.00);

  &.tB {
    color: $Dellblue;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:before {
    display: inline-block;
    width: 50%;
    content: attr(title);
    color: black
  }

  &:after {
    display: inline-block;
    width: 1px;
    content: '';
    background-color: rgba(191, 195, 201, 1.00);
    height: 43px;
    position: absolute;
    left: 45%;
    top: 0;
  }

  
}

.pTitle {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: $Dellblue;
  padding-bottom: 20px;
  text-align: justify;
  text-justify:inter-ideograph;

  &.pNoSpace {
    padding-bottom: 0;
  }
}

.subTitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;

  &.picTitle {
    text-align: center !important;
    color: $Dellblue;
  }
}

.grayText {
  width: 100%;
  font-size: 1rem;
  color: $gray;

  &.gHaveSpace {
    padding: 20px 0;
  }

  &.gHaveSpaceTop {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &.gHaveSpaceDo {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.centText {
  width: 100%;
  font-size: 1.1rem;
  color: black;
  text-align: justify;
  text-justify:inter-ideograph;

  &.centHaveSpace {
    padding-bottom: 20px;
  }
}

.itemN40, .itemN60 {
  display: inline-block;
  float: left;
  font-size: 1.1rem;
  color: black;
  line-height: 40px;
}

.itemN40 {
  width: 40%;
  font-weight: 600;
}

.itemN60 {
  width: 60%;
}


.blackText {
  font-size: 1.3rem;
  color: black;
  float: left;
  margin-left: 10px;
  line-height: 40px;

  &.blackRight {
    float: right;
  }

  &.black30 {
    width: 30%;
  }

  &.redTextCent {
    color: red;
    text-align: center;
    float: none;
  }

  &.greenTextCent {
    color: green;
    text-align: center;
    float: none;
  }

  &.blackTextCent {
    text-align: center;
    float: none;
  }

  &.blackNline {
    line-height: 25px;
  }

  &.blackNoSpace {
    font-size: 1rem;
    margin-left: 0;
  }

  &.blackNoSpace12 {
    font-size: 1.2rem;
    margin-left: 0;
  }

  &.blackTable {
    text-align: center;
    float: none;
    margin-left: 0;
    font-size: 1rem;
  }

  &.blackTableB {
    text-align: center;
    font-weight: 600;
    float: none;
    margin-left: 0;
    font-size: 1rem;
  }

  i {
    font-style: normal;
    color: $Dellblue;

    &.ired {
      color: red;

      &:before {
        display: inline-block;
        content: '\f0d8';
        font-family: 'icomoon';
        font-size: 2rem;
        margin-right: 10px;
      }
    }

    &.igreen {
      color: green;

      &:before {
        display: inline-block;
        content: '\f0d8';
        font-family: 'icomoon';
        font-size: 2rem;
        margin-right: 10px;
      }
    }
  }
}

.list_boxs {
  display: inline-block;
  width: 100%;
  @include clearfix();
  text-align: left;
  margin-bottom: 10px;

  .listNum, .listText {
    display: inline-block;
    font-size: 1rem;
    float: left;
    color: $gray;
  }

  .listNum {
    width: 20px;
    margin-right: 5px;
  }

  .listText {
    width: calc(100% - 20px - 5px);
    margin-top: -3px;
    text-align: justify;
    text-justify:inter-ideograph;
  }
}

.centOrange {
  color: $Dellorange;
}

.topBtn {
  display: inline-block;
  width: 100%;
  @include border-radius(3px);
  border: 1px solid $Dellblue;
  @include clearfix();

  &.otherA {
    border: 0;
    color: $lightgray;

    &:first-child {
      &:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 1px;
        height: 30px;
        background-color: #b8b8b8;
        top: 65px;
        left: 50%;
      }
    }

    a {
      font-size: 1.2rem;
      padding: 0;
      color: $gray;

      &:hover, &:active, &.otherAB {
        background-color: transparent;
        color: $Dellblue;
      }

      &.otherAO {
        background-color: transparent;
        color: $Dellorange;
      }
    }
  }

  &.top30 {
    width: calc(100% - 30%);
    margin-top: 5px;
    border: 1px solid white;
    overflow: hidden;

    a {
      padding: 3px;
      background-color: white;
      border: 0;
      color: $lightgray;

      &:hover, &:active, &.topBtnOK {
        background-color: red;
        color: white;
      }
    }
  }

  a {
    display: inline-block;
    width: 50%;
    padding: 5px;
    float: left;
    color: $Dellblue;
    text-decoration: none;
    cursor: pointer;

    &:hover, &:active, &.topBtnOK {
      background-color: $Dellblue;
      color: white;
    }

    &.topBtnOKG {
      background-color: green;
    }
  }
}










