@import "_oa";

$Dellblue: rgba(0, 81, 162, 1.00);
$gray: rgba(91, 91, 91, 1.00);
$blue:rgba(0, 150, 230, 1.00);
$Dellorange: rgba(232, 86, 3, 1.00);
$lightgray: rgba(184, 184, 184, 1.00);
$linecolor: rgba(191, 195, 201, .5);

p {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
}

span {
  display: inline-block;
  text-align: left;
}

i {
  display: inline-block;
  font-style: normal;
}

b {
  display: inline-block;
  font-weight: normal;
}

.date9 {
  background-color: white;
  width: 100%;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

.pptype {
  display: inline-block;
  width: 100%;
  content: $gray;
  font-size: 1.2rem;

  &:before {
    display: inline-block;
    content: attr(title);
  }

  // &:after {
  //   display: inline-block;
  //   content: '張';
  //   margin-left: 5px;
  //   font-size: 1rem;
  // }
}


.greenTitle {
  float: left;
  font-size: 1.2rem;
  // color: green;
  color: $Dellblue;
  font-weight: 600;

  &.redTitle {
    // color: red;
    color: $Dellblue;
  }
}

.openClose {
  display: inline-block;
  cursor: pointer;
  float: right;
  background-color: white;
  @include border-radius(3px);
  color: $lightgray;
  font-size: 1rem;
  padding: 3px 5px;

  &:before {
    display: inline-block;
    content: '\e903';
    font-family: "icomoon";
    color: $lightgray;
    line-height: 25px;
    margin-right: 3px;
  }
}

.closeOpen {
  display: inline-block;
  cursor: pointer;
  float: right;
  background-color: white;
  @include border-radius(3px);
  color: $lightgray;
  font-size: 1rem;
  padding: 3px 5px;

  &:before {
    display: inline-block;
    content: '\e902';
    font-family: "icomoon";
    color: $lightgray;
    line-height: 25px;
    margin-right: 3px;
  }
}

.tableTextName {
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 1.2rem;
  border-bottom: 1px solid $linecolor;

  &.w01 {
    border-bottom: 1px solid white;
  }

  &.g01 {
    border-bottom: 1px solid rgba(187, 186, 191, 1.00);
  }
}

.tableCent {
  width: 100%;
  position: relative;
  padding: 10px;
  color: black;
  font-size: 1rem;
  border-bottom: 1px solid $linecolor;

  &.w01 {
    border-bottom: 1px solid white;

    &:after {
      background-color: white;
    }
  }

  &.tB {
    color: $Dellblue;
  }

  &.tR {
    color: red;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:before {
    display: inline-block;
    width: 50%;
    content: attr(title);
    color: black
  }

  &:after {
    display: inline-block;
    width: 1px;
    content: '';
    background-color: $linecolor;
    height: 43px;
    position: absolute;
    left: 45%;
    top: 0;
  }

  
}

.pTitle {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: $Dellblue;
  padding-bottom: 20px;
  text-align: justify;
  text-justify:inter-ideograph;

  &.pNoSpace {
    padding-bottom: 0;
  }
}

.subTitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;

  &.subB {
    color: $Dellblue;
  }

  &.picTitle {
    // margin: 30px 0;
    text-align: center !important;
    color: $Dellblue;
  }
}

.grayText {
  width: 100%;
  font-size: 1rem;
  color: $gray;

  &.gHaveSpace {
    padding: 20px 0;
  }

  &.gHaveSpaceTop {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &.gHaveSpaceDo {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.centText {
  width: 100%;
  font-size: 1.1rem;
  color: black;
  text-align: justify;
  text-justify:inter-ideograph;

  &.centHaveSpace {
    padding-bottom: 20px;
  }
}

.itemN40, .itemN60, .itemAll {
  display: inline-block;
  float: left;
  font-size: 1.1rem;
  color: black;
  line-height: 40px;
}

.itemN40 {
  width: 40%;
  font-weight: 600;
}

.itemN60 {
  width: 60%;
}

.itemAll {
  margin: 20px 0 0 0;
  
  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.1rem;
    color: black;
  }
}


.blackText {
  font-size: 1.3rem;
  color: black;
  float: left;
  margin-left: 10px;
  line-height: 40px;

  &.teamText {

    @include range-width(376px, 415px) {
      width: 160px;
    }

    @include range-width(321px, 376px) {
      width: 147px;
    }
      
    @include range-width(0, 321px) {
      width: 110px;
    }

    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &.h45 {
    line-height: 25px;
  }

  &.h60 {
    line-height: 60px;
  }

  &.blackRight {
    float: right;
  }

  &.black30 {
    width: 30%;
  }

  &.redTextCent {
    color: red;
    text-align: center;
    float: none;
  }

  &.greenTextCent {
    color: rgba(3, 200, 37, 1.00);
    text-align: center;
    float: none;
  }

  &.blackTextCent {
    text-align: center;
    float: none;
  }

  &.blackNline {
    line-height: 25px;
  }

  &.blackNoSpace {
    font-size: 1.1rem;
    margin-left: 0;
  }

  &.blackNoSpace12 {
    font-size: 1.2rem;
    margin-left: 0;
  }

  &.blackTable {
    text-align: center;
    float: none;
    margin-left: 0;
    font-size: 1rem;
  }

  &.blackTableBlue {
    color: $Dellblue;
    font-weight: 600;
  }

  &.blackTableRed {
    color: red;
    font-weight: 600;
  }

  &.blackTableB {
    text-align: center;
    font-weight: 600;
    float: none;
    margin-left: 0;
    font-size: 1rem;
  }

  i {
    font-style: normal;
    color: $Dellblue;

    &.ired {
      color: red;

      &:before {
        display: inline-block;
        content: '\f0d8';
        font-family: 'icomoon';
        font-size: 2rem;
        margin-right: 10px;
      }
    }

    &.igreen {
      color: rgba(3, 200, 37, 1.00);

      &:before {
        display: inline-block;
        content: '\f0d8';
        font-family: 'icomoon';
        font-size: 2rem;
        margin-right: 10px;
        transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
      }
    }
  }
}

.list_boxs {
  display: inline-block;
  width: 100%;
  @include clearfix();
  text-align: left;
  margin-bottom: 10px;

  .listNum, .listText {
    display: inline-block;
    font-size: 1rem;
    float: left;
    color: $gray;
  }

  .listNum {
    width: 20px;
    margin-right: 5px;
  }

  .listText {
    width: calc(100% - 20px - 5px);
    margin-top: -3px;
    text-align: justify;
    text-justify:inter-ideograph;

    i {
      display: inline-block;
      color: $Dellorange;
      font-style: normal;
      font-size: 1rem;
      margin: 2px 3px 0 3px;
    }
  }
}

.centOrange {
  color: $Dellorange;
}

.topBtn {
  display: inline-block;
  width: 100%;
  @include border-radius(3px);
  border: 1px solid $Dellblue;
  @include clearfix();

  &.topBtnO {
    border: 1px solid $Dellorange;
  }

  &.otherB {
    border: 0;
    color: $lightgray;

    a {
      width: calc(100% / 3);
      font-size: 1.2rem;
      padding: 0;
      color: $gray;

      &:hover, &:active, &.otherAB {
        background-color: transparent;
        color: $Dellblue;
      }

      &.otherAO {
        background-color: transparent;
        color: $Dellorange;
      }

      &:after {
        display: inline-block;
        content: '';
        width: 1px;
        height: 30px;
        background-color: #b8b8b8;
        // top: 65px;
        // left: 50%;
        margin-left: 18px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &.otherA {
    border: 0;
    color: $lightgray;

    &:first-child {
      &:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 1px;
        height: 30px;
        background-color: #b8b8b8;
        top: 65px;
        left: 50%;
      }
    }

    a {
      font-size: 1.2rem;
      padding: 0;
      color: $gray;

      &:hover, &:active, &.otherAB {
        background-color: transparent;
        color: $Dellblue;
      }

      &.otherAO {
        background-color: transparent;
        color: $Dellorange;
      }
    }
  }

  &.otherA3 {
    width: calc(100% / 3);
    border: 0;
    color: $lightgray;

    &:first-child {
      &:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 1px;
        height: 30px;
        background-color: #b8b8b8;
        top: 65px;
        left: 50%;
      }
    }

    a {
      font-size: 1.2rem;
      padding: 0;
      color: $gray;

      &:hover, &:active, &.otherAB {
        background-color: transparent;
        color: $Dellblue;
      }

      &.otherAO {
        background-color: transparent;
        color: $Dellorange;
      }
    }
  }

  &.top30 {
    width: calc(100% - 30%);
    margin-top: 5px;
    border: 1px solid white;
    overflow: hidden;

    a, button {
      padding: 3px !important;
      background-color: white !important;
      border: 0 !important;
      color: $lightgray !important;
      // padding: 5px !important;
      @include border-radius(0);
      font-size: 1rem;
      
      &:hover, &:active, &.topBtnOK {
        background-color: red !important;
        color: white !important;
      }
    }
  }

  a, button {
    display: inline-block;
    width: 50%;
    padding: 5px;
    float: left;
    color: $Dellblue;
    text-decoration: none;
    cursor: pointer;
    @include border-radius(0);
    font-size: 1rem;

    &.aoragne {
      color: $Dellorange !important;

      &:hover, &:active, &.topBtnOKO {
        background-color: $Dellorange !important;
        color: white !important;
      }
    }

    &:hover, &:active, &.topBtnOK {
      background-color: $Dellblue !important;
      color: white !important;
    }

    &.topBtnOKG {
      color: white !important;
      background-color: rgba(3, 200, 37, 1.00) !important;
    }
  }
}

.secnav02 {
  display: inline-block;
  width: calc(100% / 2);
  padding: 10px 0;
  float: left;
  border-right: 1px solid rgba(192, 192, 192, 1.00);
  border-bottom: 1px solid rgba(192, 192, 192, .5);
  background-color: white;
  font-size: 1.2rem;
  color: $gray;
  cursor: pointer;

  &.secnav03 {
    width: calc(100% / 3);
  }

  &:last-child {
    border-right: 0;
  }

  &.secnavB {
    color: $Dellblue;
    font-weight: 600;
    background-color: rgba(194, 226, 255, 1.00);
  }
  &.secnavO {
    color: $Dellorange;
    font-weight: 600;
    background-color: rgba(255, 241, 232, 1.00);
  }
}










